<!-- Sin overlay -->

<div class="asistente-panel">

  <div class="asistente-header">
    <button class="btn-cerrar" (click)="onCerrar()">
      ✕
    </button>
  </div>


  <div class="asistente-body centered">
    <div class="mensaje-bot">
      <div>
        <p *ngIf="categoriaActiva">
          Has elegido
          <strong>
            {{ categoriaActiva.emoji }}
            {{ categoriaActiva.etiqueta }}
          </strong>.
        </p>
      </div>

    </div>


    <div class="instruccion-clic">
      <span class="icono-tap">
        👆
      </span>

      <p><strong>Toca en el mapa</strong> para colocar el elemento.</p>

    </div>
  </div>
</div>